<section class="py-20 {{ background }}">
	<div class="container grid grid-cols-1 md:grid-cols-2 gap-20">
		<div class="space-y-6 text-center md:text-left w-full max-w-md mx-auto md:mx-0">
			<h2 class="font-bold   text-black dark:text-white text-7xl font-heading uppercase heading-line">{{
				heading }}
			</h2>
			<p class="text-lg text-gray-700 dark:text-white/70">{{ description }}</p>
			{{#if button}}
			<div class="pt-4">{{> button
				text="Find out more"
				color="bg-green"
				border-color="border-green"
				}}</div>
			{{/if}}
		</div>

		<div class="space-y-6 flex flex-col items-center">
			{{#if image_one }}
			<div class="{{#if duotone }} duotone {{/if }}">
				<img class="{{#if small_image }} w-full max-w-md {{else}} w-full relative aspect-video object-cover  {{/if}}"
					src="{{ image_one }}">
			</div>
			{{/if}}
			{{#if image_two }}
			<img class="{{#if small_image }} w-full max-w-md {{else}} w-full relative aspect-video object-cover {{/if}}"
				src="{{ image_two }}">
			{{/if}}
		</div>
	</div>
</section>
